body {
    background-color: whitesmoke;
    overflow-x: hidden;
}

.imagen{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

.fatherCard{
    padding-top: 1.5em;
}




