body {
    background-color: whitesmoke;
    overflow-x: hidden;
}

.imagen{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

.fatherCard{
    padding-top: 1.5em;
}

.disabled{
    color: #6c757d;
    background-color: #e9ecef;
}

#fondo{
    width: 100%;
}




