body {
    background-color: rgb(241, 241, 241) !important;
    font-family: 'Libre Franklin', sans-serif !important;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 200 !important;
}
textarea {
    resize: none;
}

#count_message {
  background-color: smoke;
  margin-top: -20px;
  margin-right: 5px;
}

#ayuda{
    cursor: pointer;  
}

.imag div{
    text-align: center;
    align-items: center;
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
