<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200;400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7dbf90a20f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/estilosAdminGestProfe.css">
    <title>Agregar Curso</title>
</head>

<body>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <h5>Datos del Nuevo Alumno</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <div class="form-group">
                            <label for="">Codigo</label> <br>
                            <input class="form-control" type="text">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label for="">Nombre</label> <br>
                            <input class="form-control" type="text">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label for="">Carrera</label> <br>
                            <select class="browser-default custom-select">
                                <option selected></option>
                                <!--<option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option> -->
                              </select><br>
                        </div>
                    </div>
                    <div class="col-3">
                        <br>
                        <button class="btn btn-primary"><i class="fas fa-check"></i>  Actualizar Datos</button>
                    </div>
                </div>
            </div>      
        </div>
        

    </div>
</body>