<!DOCTYPE html>
<html <html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
   <head>
      <meta charset="UTF-8">
      <title>..:: Lista de Cursos ::..</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
   </head>
   <body>
      <th:block th:include="_header"></th:block>
      <th:block th:include="_menu"></th:block>
      
      <div class="page-title">Cursos</div>
      
      <div class="product-preview-container" th:each="p : ${paginationCourses}">
         <ul>
            
            <li>Codigo: <span th:utext="${p.code}"></span></li>
            <li>Nombre: <span th:utext="${p.name}"></span></li>
            <li>Carrera: <span th:utext="${p.carrer_name}"></span></li>
            
            
            <!-- Solo el MANAGER puede editar productos -->
            <th:block>
               <li>
                 <a style="color:red;">                  
                      Editar Producto
                 </a>
               </li>
            </th:block>
         </ul>
      </div>
      
      <br/>
      <div class="page-navigator" th:if="${totalPages > 1}">
          <th:block th:each="pag : ${navigationPages}">
              <a class="nav-item" 
                 th:href="@{|/admin/gestionCurso?page=${pag}|}" 
                 th:if="${pag != -1}" th:utext="${pag}">
              </a>

              <span class="nav-item" th:if="${pag == -1}"> ... </span>

          </th:block>
      </div>
      
    
      
   </body>
</html>