
  <nav class="navbar-nav sticky-top navbar-dark  navbar-expand-sm" style="background-color: #030303;">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link text-light" th:href="@{/inicioProfe}">Inicio</a>
        </li>
        <li class="nav-item">
          <a id="ayuda" class="nav-link text-light" data-toggle="modal" data-target=".bd-example-modal-lg">Ayuda</a>
        </li>
      </ul>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">Nombre y Apellido &nbsp;</a>
        </li>
      
      <li class="nav-item">
        <a class="nav-link text-light" th:href="@{/login/teacher}"> Salir&nbsp;&nbsp;</a>
      </li>

    </div>
  </nav>
  <nav class="navbar sticky-top navbar-dark bg-dark navbar-expand-sm">
    <a class="navbar-brand">Aula Virtual</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-4"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-list-4">
      <a class="nav-item nav-link text-white" th:href="@{/datosProfe}">Mis Datos</a>
      <a class="nav-item nav-link text-white" th:href="@{/seccionesProfe}">Mis Secciones</a>
    </div>
  </nav>

  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"><b>Integrantes del grupo</b></h5>
        </div>
        <div class="modal-body">
          <div class="row imag">
            <div class="col-6">
              <figure>
                <img src="https://www.htmlquick.com/images/charles-dickens.jpg" alt="Claudia Barrera">
                <figcaption>Claudia Barrera</figcaption>
              </figure>
            </div>
            <div class="col-6">
              <figure>
                <img src="https://www.htmlquick.com/images/charles-dickens.jpg" alt="Fernando Candela">
                <figcaption>Fernando Candela</figcaption>
              </figure>
            </div>
          </div>
          <div class="row imag">
            <div class="col-6">
              <figure>
                <img src="https://www.htmlquick.com/images/charles-dickens.jpg" alt="Gerson Herrera">
                <figcaption>Gerson Herrera</figcaption>
              </figure>
            </div>
            <div class="col-6">
              <figure>
                <img src="https://www.htmlquick.com/images/charles-dickens.jpg" alt="Camila Mantilla">
                <figcaption>Camila Mantilla</figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
