<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <title>Log in</title>
        <link rel="stylesheet" href="/css/estilosLogginProfe.css" />
        <!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
    </head>

    <body>
        <th:block th:include="headerInicio"></th:block>
        <div class="container">
            <div class="card card-container">
                <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
                <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
                <p id="profile-name" class="profile-name-card"></p>
                <form class="form-signin"  method="POST"
                      th:action="@{/login/admin}">
                    <span id="reauth-email" class="reauth-email"></span>
                    <input type="text" name="user" id="inputEmail" class="form-control" placeholder="Usuario" required autofocus>
                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Contraseña" required>
                    <div id="remember" class="tipoUsuario text-center">
                        <label>
                            <!--<input type="checkbox" value="remember-me"> Remember me -->
                            <a class="tipAdmin" th:href="@{/login/student}">Soy Alumno</a>&nbsp;&nbsp;&nbsp;&nbsp;
                            <a class="tipProfe" th:href="@{/login/teacher}">Soy Profesor</a>
                        </label>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Ingresar</button>
                </form><!-- /form -->
                <!--<a href="#" class="forgot-password">
                    Forgot the password?
                </a> -->
            </div><!-- /card-container -->
        </div><!-- /container -->

        <th:block th:include="footer"></th:block>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <th:block th:include="bootstrapScripts"></th:block>
    </body>

</html>