<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200;400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="css/estilosAdminGestProfe.css">
        <link rel="stylesheet" href="/css/estilosAlumno.css">
        <title>Agregar Profesor</title>
    </head>

    <body>
    <th:block th:include="headerProfe"></th:block>

    <div class="container py-3">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <h5>Datos del Profesor</h5><br>
                    </div>
                </div>  
                <div class="row">
                    <div class="col-8">
                        <form th:action="@{/datosProfe/}" method="POST" >
                            <div class="row">
                                <div class="col-3">
                                    <div class="form-group">
                                        <label for="">Código</label> <br>
                                        <label th:text=${user} class="form-control disabled" type="text" disabled></label><br>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="">Nombres</label> <br>
                                        <label th:text=${nombre} class="form-control disabled" type="text" disabled></label><br>
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="form-group">
                                        <label for="">Apellidos</label> <br>
                                        <label th:text=${apellidos} class="form-control disabled" type="text" disabled></label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="">Correo de la Universidad</label> <br>
                                        <select class="browser-default custom-select" disabled>
                                            <option th:text=${correo} selected disabled></option>
                                        </select><br>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="">Correo Personal</label> <br>
                                        <input class="form-control" type="text" name="correoProfe"><br>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="">Género</label> <br>
                                        <select class="browser-default custom-select" disabled>
                                            <option th:text=${genero} selected disabled></option>

                                        </select><br>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="">País</label> <br>
                                        <select class="browser-default custom-select" disabled>
                                            <option th:text=${pais_nombre} selected disabled></option>

                                        </select><br>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="">Tipo de Docente</label> <br>
                                        <select class="browser-default custom-select" disabled>
                                            <option th:text=${tipo} selected disabled></option>

                                        </select><br>
                                    </div>
                                </div>

                            </div>
                            <div class="row">

                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="">URL foto</label> <br>
                                        <label th:text=${url} class="form-control disabled" type="text" disabled></label><br>
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="form-group col-12 text-xl-right">
                                   
                                    <button type="submit" class="btn btn-primary" ><i class="fa fa-check"></i>Actualizar Datos</button>
                                </div>

                            </div>
                          
                        </form>
                    </div>
                    <form th:action="@{/datosProfe/}" method="POST" >
                        <div class="col-4">
                            <img <img th:src="@{${url}}" class="perfil" width="200" height="190">
                        </div>
                    </form>


                </div>

            </div>
        </div>
    </div>
    <th:block th:include="footer"></th:block>
    <th:block th:include="bootstrapScripts"></th:block>
</body>