<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="css/estilosAdminGestProfe.css">
    <title>Agregar Profesor</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h5>Datos del Nuevo Profesor</h5><br>
            </div>
        </div>  
        <div class="row">
            <div class="col-8">
                <div class="row">
                    <div class="col-3">
                        <div class="form-group">
                            <label for="">Codigo</label> <br>
                            <input class="form-control" type="text" disabled><br>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="">Nombres</label> <br>
                            <input class="form-control" type="text" disabled><br>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="form-group">
                            <label for="">Apellidos</label> <br>
                            <input class="form-control" type="text" disabled><br>
                        </div>
                    </div>
                </div>
            
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label for="">Correo de la Universidad</label> <br>
                            <select>
                                <option value=""  disabled>Seleccione el correo</option>
                            </select><br>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="form-group">
                            <label for="">Correo Personal</label> <br>
                            <input class="form-control" type="text"><br>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label for="">Género</label> <br>
                            <select>
                                <option value=""  disabled>Seleccione el genero</option>
                            </select><br>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <div class="form-group">
                            <label for="">Pais</label> <br>
                            <select>
                                <option value="" disabled>Seleccione el pais</option>
                            </select><br>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="form-group">
                            <label for="">Tipo de Docente</label> <br>
                            <select>
                                <option value="" disabled>Seleccione el tipo de docente</option>
                            </select><br>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <br>
                            <a class="btn btn-primary" href="#" role="button"><i class="fa fa-check"></i>Actualizar Datos</a>
                        </div>
                    </div>
                </div>
                <br><br>
                <div class="row">
                    <div class="col-12 d-inline text-xl-right">
                        
                    </div>
                </div>
            </div>
            <div class="col-4">
                <img src="img/perfil.png" class="perfil" width="200" height="190">
            </div>
            
        </div>
    
        
    </div>
    
</body>